<!DOCTYPE html>
<html lang="en">

<head>
  <title>Mua sản phẩm</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="../assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../assets/css/sb-admin-2.min.css" rel="stylesheet">
  <script src="../assets/js/script.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

</head>

<body>

  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Home button -->
      <div>
        <a class="fa fa-home" style="font-size:25px;color:dimgrey" href="/supplier"></a>
      </div>

      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">
        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="/supplier" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Supplier</span>
            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/supplier">
              <i class="fas fa-home fa-sm fa-fw mr-2 text-gray-400"></i>
              Trang chủ
            </a>
            <a class="dropdown-item" href="/supplier/profile">
              <i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
              Cá nhân
            </a>
            <a class="dropdown-item" href="/supplier/manacontract">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí đơn hàng
            </a>
            <a class="dropdown-item" href="/supplier/product">
              <i class="fas fa-calendar-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí kho
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>

  </div>
  <div class="container">
    <div class="container-fluid "></div>
    <h1 class="text-center">Sản phẩm</h1>
    <!-- Product card -->
    <div class="row">
      {{# each products}}
      {{# each this}}
      <div class="col-sm-6 col-md-6">
        <form action="/supplier/contract/buy" method="post" onsubmit="return accept_form()">
          <div class="thumbnail container row">
            <div class="wrapper">
              <div class="product-img col-sm-6 col-md-6">
                <img src="https://source.unsplash.com/random/200x300">
              </div>
              <div class="product-info col-sm-6 col-md-6">
                <div class="product-text">
                  <h3>{{this.name}}</h3>
                  <h2 class="card-title">{{this.supplier_id.fullName}}</h2> 
                  
                  <p class="card-text">
                    Nhà phân phối: {{this.supplier_id.fullName}} <br>
                    Mô tả sản phẩm: {{this.desription}}</p> 
                </div>
                <div class="product-price-btn">
                  <button type="submit">Chọn mua</button>
                </div>
              </div>
            </div>

            <input type="hidden" name="product_id" value="{{this._id}}">
            <input type="hidden" name="product_name" value="{{this.name}}">
            <input type="hidden" name="supplier_name" value="{{this.supplier_id._id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
          </div>
        </form>
      </div>
      {{/each}}
      {{/each}}
    </div>
     <nav aria-label="Page navigation example">
      {{{paginateHelper pagination}}}
      </nav>
  </div>

  <!-- Jquery handling -->
  <script>

  </script>

</body>

</html>