<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Chỉnh sửa sản phẩm</title>

  <!-- Custom fonts for this template-->
  <link href="../../../assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="../../../assets/css/sb-admin-2.min.css" rel="stylesheet">

  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

</head>

<body class="bg-gradient-primary">

  <!-- Header -->
  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Home button -->
      <div>
        <a class="fa fa-home" style="font-size:25px;color:dimgrey" href="/retailer"></a>
      </div>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="/retailer" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Retailer</span>
            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
          </a>

          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/retailer/profile">
              <i class="fas fa-address-card fa-sm fa-fw mr-2 text-gray-400"></i>
              Cá nhân
            </a>
            <a class="dropdown-item" href="/retailer/manacontract">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí đơn mua hàng
            </a>
            <a class="dropdown-item" href="/retailer/product">
              <i class="fas fa-calendar-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí kho
            </a>
            <a class="dropdown-item" href="/retailer/market">
              <i class="fas fa-shopping-cart fa-sm fa-fw mr-2 text-gray-400"></i>
              Mua sản phẩm
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

      <div class="col-xl-10 col-lg-12 col-md-9">

        <div class="card o-hidden border-0 shadow-lg my-5">
          <div class="card-body p-0">
            <!-- Nested Row within Card Body -->

            <div class="row">
              <div class="col-lg-5 d-none d-lg-block">
                <img src="https://source.unsplash.com/random/440x520">
              </div>

              <div class="col-lg-7 d-none d-lg-block">
                <button class="btn btn-primary" onclick="back()" title="Trở lại"
                  style="margin-bottom: 1%;margin-top: 3%; margin-left: 89%"> X </button>

                <div class="col-lg-11 container-fluid">

                  {{#if message}}
                  <div class="alert alert-danger text-center" role="alert">
                    {{this.message}}
                  </div>
                  {{/if}}
                  {{#if success}}
                  <div class="alert alert-success text-center" role="alert">
                    {{this.success}}
                  </div>
                  {{/if}}

                  <h2 style="font-weight: bold; text-align: center">Thông tin sản phẩm</h2>

                  {{# each warehouses}}
                  {{# each this}}
                  <form class="user" method="POST" action="/retailer/product/edit">
                    <table class="table" id="product-detail">
                      <input type="hidden" name="contract_id" value="{{this._id}}">
                      <tr>
                        <th>Tên sản phẩm:</th>
                        <td>{{this.product_id.name}}</td>
                      </tr>
                      <tr>
                        <th>Nhà sản xuất:</th>
                        <td></td>
                      </tr>
                      <tr>
                        <th>Nhà phân phối:</th>
                        <td>{{this.owner_id.fullName}}</td>
                      </tr>
                      <tr>
                        <th>Ngày sản xuất</th>
                        <td id="CreateDate"></td>
                      </tr>
                      <tr>
                        <th>Ngày hết hạn</th>
                        <td id="ExpireDate"></td>
                      </tr>
                      <tr>
                        <th>Số lượng:</th>
                        <td>{{this.quatity}}</td>
                      </tr>
                      <tr>
                        <th>Địa chỉ kho hàng:</th>
                        <td><input type="text" class="form-control" id="" name="ship_from"
                            value="{{this.warehouse_address}}" required></td>
                      </tr>
                    </table>

                    <input type="hidden" name="id_product" value="{{this.product_id._id}}">
                    <input id="hdnCreateDate" type="hidden" name="hdnCreateDate" value="{{this.product_id.createDate}}">
                    <input id="hdnExpireDate" type="hidden" name="hdnExpireDate" value="{{this.product_id.expireDate}}">

                    <button type="submit" class="btn btn-primary" style="margin-left: 83%; width:60px" title="Cập nhật thông tin hàng hóa">
                      <i class="fas fa-edit" aria-hidden="true"></i>
                    </button>
                  </form>
                  {{/each}}
                  {{/each}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    function back() {
      history.back();
    }

    $(document).ready(function () {

      var crDate = $("#hdnCreateDate").val();
      var epDate = $("#hdnExpireDate").val();

      $("#CreateDate").html(Date_to_String(crDate));
      $("#ExpireDate").html(Date_to_String(epDate));

      function Date_to_String(date_model) {

        if (date_model == null || date_model.length == 0) {
          return '';
        }
        else {
          var formated_date = new Date(date_model);
          var day = formated_date.getDate();
          var month = formated_date.getMonth() + 1;
          var year = formated_date.getFullYear();

          var return_format = day + ' - ' + month + ' - ' + year;

          return return_format;
        }
      }
    })
  </script>

</body>

</html>