<!DOCTYPE html>
<html lang="en">

<head>
  <title>Trang chủ</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link type="text/css" href="assets/css/styles.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <!-- Custom fonts for this template-->
  <link href="assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">

  <!-- Custom styles for this template-->
  <script src="assets/js/script.js"></script>
  <link href="assets/css/sb-admin-2.min.css" rel="stylesheet">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
</head>

<body>

  <!-- Header -->
  <div class="container">
    <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

      <!-- Home button -->
      <div>
        <a class="fa fa-home" style="font-size:25px;color:dimgrey" href="/customer"></a>
      </div>

      <!-- Topbar Search -->
      <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
        <div class="input-group">
          <input type="text" class="form-control bg-light border-0 small" placeholder="Tìm kiếm..." aria-label="Search"
            aria-describedby="basic-addon2">
          <div class="input-group-append">
            <button class="btn btn-primary" type="button">
              <i class="fas fa-search fa-sm"></i>
            </button>
          </div>
        </div>
      </form>

      <!-- Topbar Navbar -->
      <ul class="navbar-nav ml-auto">

        <!-- Nav Item - User Information -->
        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="/customer" id="userDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Customer</span>
            <img class="img-profile rounded-circle" src="https://source.unsplash.com/QAB-WJcbgJk/60x60">
          </a>
          <!-- Dropdown - User Information -->
          <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="/customer/profile">
              <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
              Cá nhân
            </a>
            <a class="dropdown-item" href="/customer/manacontract">
              <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
              Quản lí đơn hàng
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="/logout">
              <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
              Logout
            </a>
          </div>
        </li>
      </ul>
    </nav>
  </div>

  <div class="container">

    {{#if message}}
    <div class="alert alert-danger text-center" role="alert">
      {{this.message}}
    </div>
    {{/if}}
    {{#if success}}
    <div class="alert alert-success text-center" role="alert">
      {{this.success}}
    </div>
    {{/if}}

    <h1 class="text-center">Sản phẩm</h1>

    <!-- Product card -->
    <div class="row">
      {{# each warehouses}}
      {{# each this}}
      <div class="col-sm-6 col-md-6">
        {{!-- <form action="/customer/contract" method="post" onsubmit="return accept_form()"> --}}
        <form action="/customer/create_contract" method="post" onsubmit="return accept_form()">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-5 d-none d-lg-block">
                  <img src="https://source.unsplash.com/random/200x520">
                </div>
                <!-- Product Info -->
                <div class="col-lg-7 d-none d-lg-block">

                  <h4 style="font-weight:bold; text-align:center; margin-top:8%">Thông tin sản phẩm</h4>
                  <hr>
                  <div class="product-text text-center ">
                    <h3>{{this.product_id.name}}</h3>
                    <h2>{{this.owner_id.fullName}}</h2>

                    <div class="card-text text-left">
                      <table class="product-content">
                        <tr>
                          <th>Nhà sản xuất: </th>
                          <td></td>
                        </tr>
                        <tr>
                          <th>Nhà bán lẻ: </th>
                          <td>{{this.owner_id.fullName}}</td>
                        </tr>
                        <tr>
                          <th>Mô tả: </th>
                          <td>{{this.product_id.desription}}</td>
                        </tr>
                        <tr>
                          <th>Ngày sản xuất: </th>
                          <td class="createDate"></td>
                        </tr>
                        <tr>
                          <th>Ngày hết hạn: </th>
                          <td class="expireDate"></td>
                        </tr>
                        <input class="hdnCreateDate" type="hidden" name="hdnCreateDate"
                          value="{{this.product_id.createDate}}">
                        <input class="hdnExpireDate" type="hidden" name="hdnExpireDate"
                          value="{{this.product_id.expireDate}}">
                      </table>
                    </div>
                  </div>
                  <br>
                  <div class="col-lg-12 text-right" >
                    <button type="submit" class="btn btn-success">
                      <i class="fas fa-cart-plus" aria-hidden="true"></i>
                    </button>
                  </div>
                </div>
              </div>
            </div>
            <input type="hidden" name="product_id" value="{{this.product_id._id}}">
            <input type="hidden" name="owner_id" value="{{this.owner_id._id}}">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
          </div>
        </form>
      </div>
      {{/each}}
      {{/each}}
    </div>
    <nav aria-label="Page navigation example">
      {{{paginateHelper pagination}}}
    </nav>
  </div>

  <!-- Jquery handling -->
  <script>
    $(document).ready(function () {

      $(".product-content").each(function () {

        var crDate = $(this).find(".hdnCreateDate").val();
        $(this).find(".createDate").html(Date_to_String(crDate));

        var epDate = $(this).find(".hdnExpireDate").val();
        $(this).find(".expireDate").html(Date_to_String(epDate));

        function Date_to_String(date_model) {

          if (date_model == null || date_model.length == 0) {
            return '';
          }
          else {
            var formated_date = new Date(date_model);
            var day = formated_date.getDate();
            var month = formated_date.getMonth() + 1;
            var year = formated_date.getFullYear();

            var return_format = day + ' - ' + month + ' - ' + year;

            return return_format;
          }
        }
      })
    })
  </script>
</body>

</html>